.login-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
}

.checkbox {
  width: 22px;
  height: 22px;
  border-radius: 5px;
  border: 2px solid var(--login-text);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  flex-shrink: 0;
}

.checkbox.checked {
  background-color: black;
  border-color: var(--login-text);
}

.login-checkbox span {
  font-size: 15px;
  color: var(--login-text);
}